root = true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{rake,rails,rcov,spec,spork,cucumber,capfile,gemfile,rakefile,guardfile,isolate,vagrantfile,*.gemspec,*.jbuilder,*.prawn,*.rbw,*.thor,*.ru,*.rb,*.rake}]
indent_style=space
indent_size=2

[{*.feature,*.cucumber}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[*.{feature,rb}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{sh,markdown}]
indent_size = 4

[*.{md,markdown}]
trim_trailing_whitespace = false

